 <!--MrBig_subject.css-->
 @charset "utf-8"; 
 header, section, footer
 {border:1px solid transparent; margin:auto; padding:8px; width:100%;}

 #main {border:1px solid transparent; padding-top:5px; width:100%; height:auto; 
            display:inline-block; text-align:center; margin:auto;}
 #main ul li {font-size: 20px;}
 header {margin-top:0px; margin-bottom:0px;}
 header ul {margin:0px; padding:0px; text-align:center;}
 header ul li {display:inline-block; margin-right:40px; margin-left:40px; font-size: 24px;}

 #2016_1 table {text-align: center; border:1px solid black;}
 #2016_2 table {text-align: center; border:1px solid black;}
 table td, th {border:1px solid black; height:30px; text-align:center;}

 footer{ height:50px; text-align:center;}
 footer p { color: gray; font-size: 20px; font-style:italic; text-align:center;}