 @charset "utf-8"; 
 @import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css); <!--³ª´®¼Õ±Û¾¾ ÆùÆ®-->
 body {display:inline-block;}
 header, nav, section, footer
 {border:1px solid transparent; margin:5px auto; padding:8px; width:1920px;}
 #center { width :1920px;} 
 #main {border:1px solid tranparent; padding-top:5px; width:1920px; height:1280px;
            background: url("main_board.png");}
 #main p { margin-left: 250px; margin-top: 250px; text-align:left; font-size: 75px; 
                font-family: 'Nanum Pen Script', cursive;}
 #link {border:transparent; margin:auto;}
 #menu {text-align:center; margin-top : 0px; margin-bottom:0px; height:80px;}
 #menu ul { margin:0px; padding:0px; text-align:center;}
 #menu ul li {display:inline-block; margin-right:40px; margin-left:40px;}
 footer { float:bottom;}
 footer p { color: gray; font-size: 25px; font-style:italic; text-align:center;}