 @import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css); <!--³ª´®¼Õ±Û¾¾ ÆùÆ®-->
 @import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');
 body {display:inline-block;}
 header, nav, section, aside, footer
 {border:1px solid transparent; margin:5px auto; padding:8px; width:1920px;}
 #center { width :1920px; height: 1280px; background: url("main_board.png");} 
 #main {border:1px solid tranparent; padding-top:5px; width:1920px;}
 #main p { margin-left: 300px; margin-top: 300px; text-align:left; font-size: 50px; font-family: 'Dancing Script', cursive;}
 #link {border:transparent; margin:auto;}
 footer {text-align:center; margin-top : 0px; margin-bottom:0px;}
 footer ul { margin:0px; padding:0px; text-align:center;}
 footer  ul li {display:inline-block; margin-right:40px; margin-left:40px;}
 #copyright { margin-top:0px; }
 #copyright p { color: gray; font-size: 25px; font-style:italic;}